@charset "utf-8";
/* CSS Document */


/**iphone 4**/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
ul li.game, ul li.foundation,ul li.vignette ,ul li.experiment {
background: url(../images/buttons/videoplayer.png) no-repeat  97% 48% ;
background-color: #FFF;
z-index:100;
height: 300px;
}
